{% extends 'base.html' %}
{% block content %}
<form action="" method='POST'>
  <div class="col-12 mb-3"> 
  <input type="text" name='name' class="form-control" placeholder="Name"><br>
  </div>
  <div class="col-12 mb-3">
    <input type="text" class="form-control" name='email' placeholder='email'><br>
  </div>
  <div class="col-12 mb-3">
    <input type="text" class="form-control" name='adress' placeholder='Adress'><br>
  </div>
    <button  class="btn amado-btn w-100">Order</button>
  </form>
{% endblock %}